/*! MIT License | Update the scss, not the css | I used Koala to compile the SASS (http://koala-app.com/) */

@import "normalize"; // normalise la vue pour les différents navigateurs


$minWidth: 903px;
$heightNav: 80px;
$widthBorderNavItem: 3px;
$colorBorderNavItem: #000;
$lineHeightNav: $heightNav/2;
$transitionDuration: .2s;
$transition: $transitionDuration linear;
$transitionDurationMiddle: .3s;
$transitionMiddle: $transitionDurationMiddle linear;
$transitionDurationSlow: .5s;
$transitionSlow: $transitionDurationSlow linear;
$backgroundNav: #fff;
$backgroundSection: #666;
$colorVinyle: #fff;
$colorArrowVinyle: $colorVinyle;
$widthVinyle: 1/2 * $minWidth;
$heightVinyle: 410px;
$widthArrow: 47px;
$heightArrow: 47px;
$lineHeight: 1.5;
$paddingSection: 10px;
$heightBatterieSection: 597px;
$widthBatterie: 434px;
$ratioBatterie: 434px/597px;
$heightStartText: 245px;
$widthStartText: 100%;
$heightMoreSign: 60px;
$topPropertiesBateriesZones: ($heightBatterieSection - $ratioBatterie * $widthBatterie) / 2;


// automatic
$colorFont: #000;
@if ( ( ( red($backgroundSection) * .299 ) + ( green($backgroundSection) * .587 ) + ( blue($backgroundSection) * .114 ) ) < 125) { // formule trouve sur la W3C
	$colorFont: #fff;
}


*,
*::before,
*::after {
	 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;
}

/* normalize the links */
a,
a:visited {
	color: #aef;
}
a:focus,
a:active {
	color: #aef + #190000;
}

p {
	text-align: justify;
}



.clear {
	clear: both;
}

.errorMessage {
	background: #f2dede;
	border: 3px solid #ebccd1;
	color: #a94442;
	padding: 15px;
	line-height: 1.5;
}

.hidden {
	display: none;
}



.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level {
	background-color: #fff
}

html,
body,
main {
	min-height: 100%;
	min-width: 100%;
	min-width: 914px;
	margin: 0;
	padding: 0;
	line-height: $lineHeight;
}

nav {
	min-width: 914px;
}

nav {
	line-height: $lineHeightNav;
	height: $heightNav;
	background: $backgroundNav;
	position: fixed;
	top: -$heightNav;
	width: 100%;
	z-index: 1;
	transition: $transition;

	&.open {
		top: 0;
  	}

	h1,
	ul,
	li,
	noscript,
	noscript p {
		display: inline-block;
	}

	h1 {
		margin: 0 2%;
		cursor: pointer;
		float: left;
	}

	ul {
		padding: 0;
		float: right;
	}

	li {
		cursor: pointer;
		// user-select: none;

		font-weight: bold;
		color: $colorBorderNavItem;

		padding-left: ($lineHeightNav - 20)/2;
		padding-right: ($lineHeightNav - 20)/2;

		margin-right: .5em;

		border: $widthBorderNavItem solid $colorBorderNavItem;

		background: linear-gradient($colorBorderNavItem, $colorBorderNavItem) no-repeat left bottom / 100% 0 transparent;

		transition: $transition;

		&:hover,
		&.active ~ .active:hover,
		&.active {
			background-size: 100% 100%;
			color: $backgroundNav;
		}

		&.active ~ .active {
			background: linear-gradient($colorBorderNavItem, $colorBorderNavItem) no-repeat left bottom / 100% 0 transparent;
			color: $colorBorderNavItem;
		}
	}
}

main {
  	position: absolute;
  	top: 0;
  	z-index: 0;
}

section {
  	width: 100%;
  	padding: $paddingSection;
  	background: $backgroundSection;
  	color: $colorFont;
}

.h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0.67em 0px;
}

section:first-child {
	min-height: 400px;
	padding: 0;
	height: 100%;
	color: #000;
	position: relative;

	.controls {
    	opacity: 0;
    	transition: $transition 1s;
  	}

  	.textContainer,
  	.text {
		z-index: 5;
  	}
	.textContainer {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #fff;
		background: rgba(#fff, .4);
	}
	.text {
		padding: 10px;
		width: $widthStartText;
		height: 245px;
		position: absolute;
		left: 0;
		top: 0;
		background: #fff;
		background: rgba(#fff, .8);

		&,
		p {
			text-align: center;
		}


		top: 10%;
  	}
  	.moreSign {
		width: 20%;
	  	left: 40%;
  	}

	#myVideo {
		height: 100%;
	}
	.descriptionMusic {
		bottom: 0;
	}
}

.video-js {
	position: absolute;
  	top: 0;
  	left: 0;
  	float: left;
  	height: 100%;
  	width: 100% !important;
  	z-index: 0;
}

#myVideo1 { // poids des selectors
	.vjs-control-bar {
		opacity: 0;
  	}

	&:not(.vjs-fullscreen) .vjs-control-bar {
		transition: opacity 0s;
	}

	&.vjs-fullscreen {
		z-index: 500;

		~ .exitFullscreen::before,
		.vjs-control-bar {
    		opacity: 1;
    		transition: visibility 0.1s ease 0s, opacity 0.1s ease 0s;
		}

		&.vjs-user-inactive {
			~ .exitFullscreen::before,
			.vjs-control-bar {
				opacity: 0;
				transition: visibility 1s ease 0s, opacity 1s ease 0s;
			}
		}
	}
}

.play {
	&::before {
		z-index: 6;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 5em;
		display: block;
		color: #fff;
		text-shadow: 0 0 5px #555;
		opacity: 0;
		transition: $transitionMiddle;
		cursor: pointer;
	}
}

.exitFullscreen {
	&::before {
		z-index: 501;
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 5em;
		display: block;
		color: #fff;
		text-shadow: 0 0 5px #555;
		opacity: 0;
		transition: $transitionMiddle;
		cursor: pointer;
	}
}

.more {
	overflow: hidden;

	.text {
		transition: $transitionDuration ease-out;
		overflow-y: scroll;
		height: 0;
		padding-right: 10px;

		img {
			width: 100%;
			display: block;
			margin: auto;
		}

		img.vertical {
			height: 90%;
			width: auto;
		}

		:first-child {
  			margin-top: 0;
		}

		:last-child {
  			margin-bottom: 0;
		}
	}

	&.open {
		padding: $paddingSection 0;
		resize: vertical;

		.text {
			height: 100%;
			transition: $transitionDuration ease-in;
		}
	}
}

.moreSign {
	color: $colorFont;
	color: #333;
	height: $heightMoreSign;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: 6;
	cursor: pointer;
	background: #fff;

	&::before {
		content: "\2228";
		font-weight: bolder;
		font-size: $heightMoreSign - 5px;
		margin-top: -11px;
		display: block;
	}
}
.descriptionMusic {
	z-index: 6;
	padding: 0 20px;
	background: #000;
	background: rgba(#000, .6);
	color: #fff;
	position: absolute;
	bottom: $heightMoreSign;
	left: 0;
	opacity: 0;
	transition: $transitionSlow .8s;
}
section:hover {
	.play::before {
    	opacity: 1;
	}
  	.descriptionMusic {
		opacity: 1;
		transition: $transition;
  	}
}


/* frise */
#section2 {
	padding: 0;
	height: 600px;
}
.frise iframe {
	width: 100%;
	height: 600px;
	max-height: 100%;
}


/* batterie */
#section3 {
	&:hover .zone{
		border-color: #4CB1FF;
	}
}
.batterie {
	position: relative;
	float: left;
	height: $heightBatterieSection;
	width: $widthBatterie;
	color: gray;

	img {
		width: $widthBatterie;
		position: absolute;
		top: ($heightBatterieSection - $ratioBatterie * $widthBatterie) / 2;
		left: 0;
		background: #fff;
	}

	.zone {
		position: absolute;
		cursor: pointer;
		border-radius: 100%;
		text-align: center;
		transition: all $transition, box-shadow $transitionDurationMiddle ease-out;
		box-shadow: 0 0 0 0 rgba(#4CB1FF, 0); /* pour ne travailler que l'opacite de l'ombre */
		border: 3px solid #4CB1FF; /* compatibilite navigateur */
		border: 3px solid rgba(#4CB1FF, .6);
		top: $topPropertiesBateriesZones;

		&:hover {
  			box-shadow: 0 0 10px 2px #4CB1FF;
		}
	}

	.zone:first-of-type {
		padding-top: 32px;
		top: $topPropertiesBateriesZones + 82px;
		left: 88px;
		height: 101px;
		width: 99px;
	}

	.zone:nth-of-type(2) {
		padding-top: 32px;
		top: $topPropertiesBateriesZones + 88px;
		left: 240px;
		height: 101px;
		width: 98px;
  	}

	.zone:nth-of-type(3) {
		padding-top: 16px;
		top: $topPropertiesBateriesZones + 188px;
		left: 221px;
		height: 84px;
		width: 82px;
  	}

	.zone:nth-of-type(4) {
		padding-top: 15px;
    	top: $topPropertiesBateriesZones + 183px;
    	left: 124px;
    	height: 94px;
    	width: 92px;
  	}
}
.batterieMore {
	margin-left: $widthBatterie + 15px; // 15px pour l'espacement
	min-height: $heightBatterieSection;
	height: $heightBatterieSection;
}



/* vinyle */
#section4 {
	padding: 10px 10px 10px 0;
}
.vinyle {
	float: left;
	color: $colorVinyle;
	background: url('../img/vinyle-resize.png') no-repeat -115px center;
	width: $widthVinyle;
	height: $heightVinyle;
	position: relative;

	ul,
	li {
    	display:block;
    	padding-left: 0;
	}

	li,
	.arrow-up,
	.arrow-down {
		position: absolute;
	}

	.arrow-up,
	.arrow-down {
		left: ( $widthVinyle / 2 ) - ( $widthArrow / 2);
		cursor: pointer;
	}

	.arrow-up {
		top: 60px;
	}

	.arrow-down {
    	bottom: 60px;
	}

	li {
    	width: 100%;
		text-align: center;
		top: ($heightVinyle / 2) -  (16px * $lineHeight ) / 2;
		transition: $transition;
  	}

	.before,
	.after,
	.beforeBefore,
	.afterAfter {
    	transform-origin: 88px 12px 0px;
	}

	.after,
	.before {
    	cursor: pointer;
	}

	.beforeBefore,
	.afterAfter {
    	opacity: 0;
	}

	.before {
    	transform: rotate(-90deg);
	}

	.after {
    	transform: rotate(90deg);
	}

	.beforeBefore {
    	transform: rotate(-180deg);
	}

	.afterAfter {
    	transform: rotate(180deg);
	}
}
.vinyleMore {
	margin-left: $widthVinyle + 15px; // 15px pour l'espacement
	min-height: 600px - 15px - 10px;
	height: 600px - 15px - 10px;
}

/* triangles*/
.arrow-up {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 ($widthArrow / 2) $heightArrow ($widthArrow / 2);
	border-color: transparent transparent $colorArrowVinyle transparent;
	line-height: 0;
	_border-color: #000000 #000000 $colorArrowVinyle #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.arrow-down {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: $heightArrow ($widthArrow / 2) 0 ($widthArrow / 2);
	border-color: $colorArrowVinyle transparent transparent transparent;
	line-height: 0;
	_border-color: $colorArrowVinyle #000000 #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}


/* Light */

.light {
	background: transparent no-repeat center center fixed;
	background-size: cover;
	height: 400px;
	max-height: 90%;

	&:first-of-type {
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Lifehouse_concert.jpg/1280px-Lifehouse_concert.jpg');
		background-position: center 40%;
	}
	&:nth-of-type(2) {
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Paramore_Concert.jpg/1280px-Paramore_Concert.jpg');
	  	background-position: center 70%;
	}
	&:nth-of-type(3) {
	  	background-image: url('../img/concert2.jpg');
	  	background-position: center bottom;
	}
	&:nth-of-type(4) {
	  	background-image: url('../img/concert.JPG');
	}
}


/* Typo */
.title {
	font-style: italic;
}

.author {
	font-variant: small-caps;
}



/* compatibilite JS */

.JSOnly {
	display: none;
}

.js .JSOnly.inline {
	display: inline;
}
.js .JSOnly.block {
	display: block;
}
.js .JSOnly.inline-block {
	display: inline-block;
}

.js .JSOnly.hidden { /* pour le poids des selecteurs css */
	display: none;
}




